/* RESET STYLESHEET */

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark-bg);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

:root {
  /* Background */
  --dark-bg: #121213;
  --gray-key: #818384;

  --green-correct: #538d4e;
  --yellow-present: #b59f3b;
  --dark-absent: #3a3a3c;

  /* Text */
  --light-text: #ffffff;

  /* Borger */
  --gray-border: #3a3a3c;
}

.board
{
  display: grid;
  align-content: center;
  flex-grow: 1;
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin-bottom: 1em;
  margin-top: 100px;
}

.board__row
{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 4em);
  gap: 0.25em;
}

.tile
{
  font-size: 2em;
  color: var(--light-text);
  border: 0.05em solid var(--gray-border);
  align-content: center;
  text-transform: uppercase;
  font-weight:bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile--absent
{
  border: none;
  background-color: var(--dark-absent);
}

.tile--present
{
  border: none;
  background-color: var(--yellow-present);
}

.tile--correct
{
  border: none;
  background-color: var(--green-correct);
}

.keyboard{
  height: 200px;
  }
  
  .keyboard__row{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }
  .key {
    font-weight: bold;
    border:0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color:antiquewhite;
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px ; 
    border-radius: 4px ;
    user-select: none;
  }
  .key--special{
    flex-grow: 1.5;
  }
  .spacer-row{
    flex-grow: 0.5;
  }

@keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }
  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
  }
}

.tile--flip {
  backface-visibility: visible;
  animation-name: flip;
  animation-duration: 2s;
}




