/* RESET STYLESHEET */

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(240, 3%, 7%);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

.board
{
  display: grid;
  align-content: center;
  flex-grow: 1;
  grid-template-rows: repeat(8, 4em);
  gap: 0.25em;
  margin-bottom: 1em;
  margin-top: 100px;
}

.board__row
{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 4em);
  gap: 0.25em;
}

.tile
{
  font-size: 2em;
  color: white;
  border: .05em solid hsl(240, 2%, 23%);
  align-content: center;
  text-transform: uppercase;
  font-weight:bold;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.tile--absent
{
  border: none;
  background-color: hsl(240, 2%, 23%)
}

.tile--present
{
  border: none;
  background-color: hsl(49 , 51%, 47%)
}

.tile--correct
{
  border: none;
  background-color: hsl(115, 29%, 43%)
}




