/* RESET STYLESHEET */

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}
/*Dark mode*/
.dark-mode {
  background-color: black;
  color: white;
}

button {
  font: inherit;
}

/* COLOR & TYPOGRAPHY */

:root {
  /* Background */
  --dark-bg: #121213;
  --gray-key: #818384;

  --green-correct: #538d4e;
  --yellow-present: #b59f3b;
  --dark-absent: #3a3a3c;

  /* Text */
  --light-text: #ffffff;

  /* Borger */
  --gray-border: #3a3a3c;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark-bg);
}

/* OVERALL LAYOUT */

body {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

aside {
  position: absolute;
  top: 0;
}

.board {
  height: 100%;
}

/* BOARD */

.board {
  display: grid;
  align-content: center;
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
}

.board__row {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 4em);
  gap: 0.25em;
}

/* TILES */

.tile {
  color: var(--light-text);
  border: 0.05em solid var(--gray-border);

  font-size: 2em;
  font-weight: bold;
  align-content: center;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tile--absent {
  border: none;
  background-color: var(--dark-absent);
}

.tile--present {
  border: none;
  background-color: var(--yellow-present);
}

.tile--correct {
  border: none;
  background-color: var(--green-correct);
}

/* KEYBOARD */

.keyboard {
  display: flex;
  flex-direction: column;
  gap: .25em;
}

.keyboard__row {
  display: flex;
  justify-content: center;
  touch-action: manipulation;
  gap: .25em;
}

/* KEYS */

.key {
  font-weight: bold;

  background-color: var(--gray-key);
  color: var(--light-text);

  border: 0;
  border-radius: 4px;

  height: 58px;
  flex-grow: 1;
  flex-basis: 0;
  text-transform: uppercase;

  cursor: pointer;
  user-select: none;
}

.key--special {
  flex-grow: 1.5;
}

.spacer-row {
  flex-grow: 0.5;
}

.key--correct {
  background-color: var(--green-correct);
}

.key--absent {
  background-color: var(--dark-absent);
}

.key--present {
  background-color: var(--yellow-present);
}

/* MODAL */

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ANIMATIONS */

@keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }

  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }

  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
  }
}

.tile--flip {
  backface-visibility: visible;
  animation-name: flip;
  animation-duration: 2s;
}
